<html lang="en-ca">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ .Site.Title }}" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <title>
        {{ block "title" .}}
        {{ .Site.Title }}
        {{ end }}
    </title>
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" name="toggle" id="toggle">
            <a href="/">
                <img src="/logo.svg" alt="logo">
            </a>
            <ul>
                {{ range .Site.Menus.main.ByWeight }}
                <li {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="active" {{ end }}>
                    <a href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            <label for="toggle">
                <i class="material-icons">
                    menu
                </i>
            </label>
        </nav>
    </header>
    <main>
        {{ block "main" .}}{{ end }}
    </main>
    <footer>
        <span class="name">Elaine Claivaz</span>
        <span>&copy;{{ now.Format "2006" }} {{ .Site.Copyright }}</span>
    </footer>
</body>

</html>