html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  text-transform: none;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  background-color: #f0f4f4;
}

body {
}

body > header {
  padding: 3em 0;
  border-bottom: 2px solid white;
}

a {
  color: inherit;
  text-decoration: none;
}

body > header > nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

label[for="toggle"] {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: grey;
}

label[for="toggle"] > i {
  padding: 1em;
}

input#toggle {
  display: none;
}

input#toggle:checked ~ ul {
  display: flex;
}

input#toggle ~ ul {
  display: none;
}

body > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em 0;
  border-top: 2px solid white;
  color: grey;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
}

nav ul li {
  margin: 0.5em 0;
  padding-left: 1em;
  border-left: 2px solid transparent;
}

nav ul li.active,
nav ul li:hover {
  border-left-color: white;
}

nav ul li a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.name {
  font-family: "Clicker Script", cursive;
  color: red;
  font-size: 2rem;
}

.logo > img {
  height: 65px;
}

@media screen and (max-width: 480px) {
  input#toggle:checked ~ a {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  html {
    font-size: 14px;
  }

  .logo > img {
    height: inherit;
  }

  label[for="toggle"] {
    display: none;
  }

  input#toggle ~ ul {
    display: flex;
  }

  input#toggle:checked ~ a {
    display: block;
  }

  body > header > nav {
    justify-items: center;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul li {
    margin: 1em;
    padding-bottom: 1em;
    padding-left: 0;
    border-left: none;
    border-bottom: 2px solid transparent;
  }

  nav ul li.active,
  nav ul li:hover {
    border-bottom-color: white;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  body {
    margin: 0 auto;
  }
}

#baniere {
  background: url("/arriere-plan.jpg") center 0 no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#baniere > p {
  font-size: 1.5em;
}

#methodes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vw;
}

#methodes > a {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#methodes > a:hover {
  background-color: lightgray;
}

@media screen and (min-width: 680px) {
  #methodes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: calc(100vw / 4);
  }
}

section.padded {
  margin: 0 1em;
}
