html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  text-transform: none;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  background-color: #f0f4f4;
}

body {
  max-width: 1026px;
  margin: 0 auto;
}

body > header {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  border-bottom: 2px solid white;
}

body > header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

body > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em 0;
  border-top: 2px solid white;
  color: grey;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
}

nav ul li a {
  margin: 1em;
  padding-bottom: 1em;
  color: grey;
  text-decoration: none;
}
nav ul li a.active,
nav ul li a:hover {
  border-bottom: 2px solid white;
}

main {
}

section {
}

